<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>INSOperationsKit Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>INSOperationsKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64DFC7611B98A7C50009DB98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DFC77A1B98A7C50009DB98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DFC78F1B98A7D00009DB98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DFC7991B98A7D00009DB98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
